# Python bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# Project-specific (any test images or outputs)
output_*.png
__pychache__
__pychache__/
*.pyc
.venv/
hidden.png
